
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Istok+Web|Lalezar|Lato|Noto+Serif+KR|Poppins|Scada|Ubuntu');

/*********************Index***********************************/
#index .index-image img{
  border:5px solid #222;
  width: 100%;
  /* height: 300px; */
}

#index .content{
  margin: .5em;
}
/*********************Image Grid***********************************/
#index section > img:last-child::after{
  content: "~"
}

#index {
  margin: 0;
  font-family: Arial;
  background-color: #f3f3f3;
  padding: 0%;
  margin: 0%;
  font-family: 'Lato';
}


#index .header {
  text-align: center;
  padding: 32px;
}

#index .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
#index .column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

#index .column img {
  margin-top: 8px;
  vertical-align: middle;
}

/*********************End Image Grid***********************************/
/******Navigation******/

nav{
  background-color: #222 !important;
}
.navbar-brand{
  font-family:'Lalezar';
  font-size: 30px;
  color: grey !important;
}

.nav-link{
  font-size: 17px;
  margin: 15px;
  color: #f3f3f3 !important;
  font-family: 'Lato';
}

.nav-link:hover{
  color:grey !important;
  text-decoration: none;
}




/* Responsive layout INDEX - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout INDEX - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
